{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<center>
  <div class="row" style="margin-top:80px;">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="text-align:center;background:rgb(85, 186, 245);border-radius: 25px;border: 3px solid #0261a0;">
      <div class="row">   
        <div class="col-md-3"></div>
        <div class="col-md">
          <h1 style="margin-top:30px">Connexion :</h1>
          <form action="{{ path('compte') }}" method="post" style="margin-bottom:30px">
            <div class="form-group">
              <label for="exampleInputEmail1">Identifiant</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre email">
            </div>
            <br>
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de Passe</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Se Connecter</button>
          </form>
          <a href="{{ path('register') }}" style="margin-bottom:30px;">Pas de compte ? Inscrivez vous !</a>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div> 
    <div class="col-md-3"></div>
  </div>
</center>

{% endblock %}
