{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
</div><div class="row" style="margin-top:50px">
    <h4> <b> Confirmez votre réservation: </b> </h4>
    <form action="{{ path('confirm_reservation') }}" style="margin-bottom:30px;margin-top:30px">
    <div class="col-md" style="text-align:center;background:rgb(85, 186, 245);border-radius: 25px;border: 3px solid #0261a0;">
    <h3><b>Paiement</b> <i class="fa-solid fa-credit-card fa-2xl"></i></h3>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>

        <div class="col-md">
            <div class="formgroup">
                <label for="exampleInput">Veuillez insérer vos coordonnées bancaires</label>
                <input type="text" class="form-control" placeholder="Numéro de la carte">
            </div>
            <br>
            <div class="formgroup">
                <input type="text" class="form-control" placeholder="Titulaire de la carte">
            </div>
            <br>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md">
                    <div class="formgroup">
                        <label for="exampleInput">Mois</label>
                        <input type="number" class="form-control" placeholder="MM">
                    </div>
                </div>
                <div class="col-md">
                    <div class="formgroup">
                        <label for="exampleInput">Année</label>
                        <input type="number" class="form-control" placeholder="AA">
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
            </div>
            <div class="formgroup">
                <label for="exampleInput">Cryptogramme</label>
                <input type="password" class="form-control" placeholder="Cryptogramme">
            </div>
        </div>
        <div class="col-md">
            <br>
            <br>
            <br>
            <br>
            <h6> Prix de la reéservation: 0.00€</h6>
            <hr>
            <h6> Nombre de personnes: 1</h6>
            <hr>
            <h6> Total de la réservation: 00.00€</h6>
            <br>
        </div>
        <div class="col-md-1"></div>
    </div>
    <button type="submit" class="btn btn-primary">Confirmer</button>
    </form>
    </div>
</div>
{% endblock %}
