{% extends 'base.html.twig' %}

{% block title %}Resultat Recherche{% endblock %}

{% block body %}

<center>
  <div class="row" style="margin-top:80px;">
    <div class="col-md" style="text-align:center;background:rgb(85, 186, 245);border-radius: 25px;border: 3px solid #0261a0;">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md">
                <h2 style="text-align: left;margin-top:30px"><u>Resultats de la recherche :</u></h2>
                <br>
                <table class="table table-bordered" style="background-color:white;margin-bottom:50px">
                    <thead>
                    <tr class="table-active">
                        <td>Liaisons</td>
                        <td>heure depart</td>
                        <td>Date</td>
                        <td>Nombre de personnes</td>
                        <td>Type vehicule</td>
                        <td>Actions</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Liaisons</td>
                        <td>heure depart</td>
                        <td>Date</td>
                        <td>Nombre de personnes</td>
                        <td>Type vehicule</td>
                        <td>
                            <a class="btn btn-primary" href="#" role="button" style="border-radius: 10px;border: 1px solid #4a0366;">reserver</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2">
                <img src="{{ asset('images/search.png') }}" width="150" height="150" style="margin-top:50px" class="d-inline-block align-top" alt="">
            </div>
        </div>
    </div>
  </div>
</center>

{% endblock %}
